* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.structure {
  padding-top: 60px;
}

main {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.left_Side {
  position: initial;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 50px 0px rgba(44, 125, 192, 0.20);
}

.left_Side__top {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 80px 0 16px 0;
  background-color: white;
}

.text-center {
  text-align: center;
}

.left_Side__bottom {
  background-color: #f1f7fd;
}

.left_Side__picture {
  display: block;
  width: 100%;
  position: absolute;
  top: -80px;
}

.left_Side__picture>img {
  width: 160px;
  height: 160px;
}

.name-profile {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
  color: #222b63;
}

.social-media {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.social-gap {
  margin-left: 10px;
  margin-right: 10px;
}

.frontend-dev {
  width: 180px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  background-color: #DDEFF8;
  border: 2px solid #DDEFF8;
  border-radius: 15px;
}

.contact-padding {
  padding: 8px 10px;
}

.contactInfo {
  padding-left: 20px;
  text-align: left;
}

.contactInfo span {
  font-size: 14px;
  font-weight: 500;
}

.text {
  padding-left: 15px;
}

.download-cv {
  width: 90%;
  height: 50px;
  margin: 20px 10px;
  padding: 10px 10px;
  background-color: #222b63;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.letter {
  font-size: 28px;
  font-weight: 700;
  color: #222b63;
}

.main-border {
  border-radius: 14px;
  box-shadow: 0 0 5px 3px #cce6fc;
}

.skill-position {
  display: flex;
  flex-direction: column;
}

.progress-bar {
  width: 100%;
  height: 15px;
  margin-top: 10px;
  background-color: #cce6fc;
  border-radius: 15px;
}

.percentage {
  display: block;
  height: 100%;
  background-color: #2c7dc0;
  border-radius: 15px;
}

.html {
  width: 80%;
}

.javascript {
  width: 60%;
}

.css {
  width: 75%;
}

.sass {
  width: 60%;
}

.bootstrap {
  width: 80%;
}

.progress-label-html {
  position: relative;
  font-size: 16px;
  color: blue;
}

.progress-label-html::after {
  content: "80%";
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
}

.progress-label-js {
  position: relative;
  font-size: 16px;
  color: blue;
}

.progress-label-js::after {
  content: "60%";
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
}

.progress-label-css {
  position: relative;
  font-size: 16px;
  color: blue;
}

.progress-label-css::after {
  content: "75%";
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
}

.progress-label-sass {
  position: relative;
  font-size: 16px;
  color: blue;
}

.progress-label-sass::after {
  content: "60%";
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
}

.progress-label-bootstrap {
  position: relative;
  font-size: 16px;
  color: blue;
}

.progress-label-bootstrap::after {
  content: "80%";
  position: absolute;
  top: 0;
  right: 0;
  color: blue;
}

.main-padding {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 2px solid #2c7dc0;
  text-align: justify;
  font-size: 12px;
}

.main-padding-edu {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: justify;
  font-size: 12px;
}

.work-exp {
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 5px;
  border-left: 2px solid #2c7dc0;
  box-shadow: 0 0 5px 3px #cce6fc;
}

.font1 {
  font-size: 24px;
  font-weight: bold;
  text-align: justify;
}

.font2 {
  font-size: 20px;
  font-weight: bold;
  color: #6c6c6c;
  text-align: justify;
}

.font3 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #6c6c6c;
  text-align: justify;
}

.font4 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  text-align: justify;
}

.form-section {
  display: block;
  margin-top: 30px;
  border-radius: 14px;
  background-color: #2c7dc0;
  color: white;
}

.form-headline {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 28px;
  font-weight: 700;
}

.form-name-email {
  display: flex;
  flex-direction: row;
}

.form-contact {
  display: block;
  padding: 10px 15px;

}

.fname {
  display: flex;
  flex-direction: column;
}

.fname input {
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #2c7dc0;
  border-style: none;
  border-radius: 6px;
}

.fname label {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.email {
  display: flex;
  flex-direction: column;
}

.email input {
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #2c7dc0;
  border-style: none;
  border-radius: 6px;
}

.email label {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.message {
  display: flex;
  flex-direction: column;
}

.message textarea {
  width: 100%;
  height: 100px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #2c7dc0;
  border-style: none;
  border-radius: 6px;
}

.message label {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.send-button {
  display: block;
  width: 100%;
  height: 50px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  color: #2c7dc0;
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 990px) {

  .avatar {
    width: 120px;
    height: 120px;
  }

  .contactInfo {
    display: inline-flex;
    flex-direction: row;
    padding-left: 20px;
    text-align: left;
  }

  .contactInfo span {
    font-size: 14px;
    font-weight: 500;
  }

  .skills-row {
    display: flex;
  }

  .skill-bar1 {
    width: 47%;
    margin-right: 6%;
  }

  .skill-bar2 {
    width: 47%;
  }

  .form-row {
    display: flex;
  }

  .fname {
    width: 48%;
    margin-right: 5%;
  }

  .email {
    width: 48%;
  }

  .button-center {
    margin-left: 33%;
    margin-right: 33%;
  }

  .send-button {
    width: 100%;
  }

}

@media only screen and (min-width: 991px) {

  body {
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .structure {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 20px;
  }

  .left_Side {
    width: 260px;
    height: 570px;
    position: sticky;
    top: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .left_Side__top {
    padding: 30px 40px 16px 40px;
  }

  .text-center {
    text-align: center;
  }

  .left_Side__bottom {
    padding-top: 12px;
    background-color: #f1f7fd;
  }

  .left_Side__picture {
    display: block;
    width: 100%;
    position: static;
    top: -80px;
  }

  .left_Side__picture>img {
    width: 180px;
    height: 180px;
  }

  main {
    width: 96%;
    margin-top: 0;
    margin-left: 3%;
  }

  .frontend-dev {
    width: 100%;
  }

  .contactInfo span {
    font-size: 14px;
    font-weight: 500;
  }

  .download-cv {
    width: 70%;
  }

  .skills-row {
    display: flex;
  }

  .skill-bar1 {
    width: 47%;
    margin-right: 6%;
  }

  .skill-bar2 {
    width: 47%;
  }

  .form-row {
    display: flex;
  }

  .fname {
    width: 48%;
    margin-right: 5%;
  }

  .email {
    width: 48%;
  }

  .button-center {
    margin-left: 33%;
    margin-right: 33%;
  }

  .send-button {
    width: 100%;
  }
}